@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    padding: 0;
    text-decoration: none;
    
  }
  body{
    @apply bg-gradient-to-br from-[#0F1424] via-[#1A1F3A] to-[#0D1428] text-white tracking-wide
  }
  h1, h2, h3, h4, h5, h6{
    @apply font-bold 
  }
  ul{
    @apply list-none;

  }
  li{
    @apply cursor-pointer;
  }
  input{
    @apply text-center bg-slate-800 border-b-2 border-slate-600 outline-none text-white
  }
  button{
    @apply uppercase rounded-lg
  }
}